.Footer_id {
  background-color: #212529;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  margin-top: 10%;
}

.weather{
text-align: left;
font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  color: #ffffff;
}